<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section th:fragment="btnAgregar" class="py-4 mb-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#agregarPersona">
                        <i class="fa-solid fa-plus"></i>
                        Agregar
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>