<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Boton editar</title>
</head>
<body>
<section th:fragment="btnEditar">
    <div id="acciones" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-3" sec:authorize="hasRole{'ROLE_ADMIN'}">
                    <a th:href="@{/}" class="btn btn-light">
                        <i class="fas fa-arrow-left"></i>
                        Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>