<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Boton editar</title>
</head>
<body>
<section th:fragment="btnEditar" class="py-4 mb-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-3" sec:authorize="hasRole{'ROLE_ADMIN'}">
                <a href="#" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#agregarPersona">
                    <i class="fas fa-edit"></i>
                    Editar
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>