<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot</title>
</head>
<body>
  <h1>Aprendiendo Spring Boot</h1>

  <a th:href="@{/registrar}">Registrar Persona</a>
  <div th:if="${ personas != null and !personas.isEmpty() }">
      <table border="1">
          <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Profesión</th>
              <th>Email</th>
              <th>Editar</th>
              <th>Eliminar</th>
          </tr>
          <tr th:each="persona : ${personas}">
              <td th:text="${persona.nombres}"></td>
              <td th:text="${persona.apellidos}"></td>
              <td th:text="${persona.profesion}"></td>
              <td th:text="${persona.email}"></td>
              <td><a th:href="@{/editar/} + ${persona.id}" th:text="Editar"></a></td>
              <td><a th:href="@{/eliminar/} + ${persona.id}" th:text="Eliminar"></a></td>
          </tr>
      </table>
  </div>
  <div th:if="${ personas == null or personas.isEmpty() }">
    <h3>¡La lista está vacía!</h3>
  </div>
</body>
</html>