<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot</title>
    <section th:replace="sub-templates/plantilla :: head"></section>
</head>
<body>
  <header th:replace="sub-templates/plantilla :: header"></header>
  <section th:replace="sub-templates/btnAgregar :: btnAgregar"></section>
  <section th:replace="sub-templates/agregarPersona :: agregarPersona"></section>
  <section th:replace="sub-templates/listadoPersonas :: listadoPersonas"></section>

  <footer th:replace="sub-templates/plantilla :: footer"></footer>
</body>
</html>