<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos de Persona</title>
</head>
<body>
    <h1>Datos de la persona</h1>
    <a th:href="@{/}">Regresar</a>
    <br>
    <form th:action="@{/guardar}" method="post" th:object="${persona}">
        <label for="nombres">Nombres</label>
        <input type="text" name="nombres" id="nombres" th:field="*{nombres}"/>
        <br>
        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellidos" id="apellidos" th:field="*{apellidos}"/>
        <br>
        <label for="profesion">Profesión</label>
        <input type="text" name="profesion" id="profesion" th:field="*{profesion}"/>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" th:field="*{email}"/>
        <br>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>